@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
}

.logo {
  font-family: "Bruno Ace SC", cursive;
  margin: 0 auto;
  text-align: center;
}
